DATABASE_URL=
GEMINI_API_KEY=
PYTHON_VERSION=3.11.0
SECRET_KEY=
VNPT_EKYC_ACCESS_TOKEN=
VNPT_EKYC_TOKEN_ID=
VNPT_EKYC_TOKEN_KEY=
VNPT_SMARTBOT_ACCESS_TOKEN=
VNPT_SMARTBOT_TOKEN_ID=
VNPT_SMARTBOT_TOKEN_KEY=
VNPT_SMARTREADER_ACCESS_TOKEN=
VNPT_SMARTREADER_TOKEN_ID=
VNPT_SMARTREADER_TOKEN_KEY=
VNPT_SMARTVISION_ACCESS_TOKEN=
VNPT_SMARTVISION_TOKEN_ID=
VNPT_SMARTVISION_TOKEN_KEY=
VNPT_SMARTVOICE_ACCESS_TOKEN=
VNPT_SMARTVOICE_TOKEN_ID=
VNPT_SMARTVOICE_TOKEN_KEY=
VNPT_TTS_ACCESS_TOKEN=
VNPT_TTS_TOKEN_ID=
VNPT_TTS_TOKEN_KEY=
VNPT_VNFACE_ACCESS_TOKEN=
VNPT_VNFACE_TOKEN_CHANNEL=
